footer.footer
    div.container
        div.footer__flex
            a.footer__logo(href="") Richiepizza.ru
            div.footer__payments
                img(src="img/visa.svg" alt="Visa")
                img(src="img/mastercard.svg" alt="Mastercard")
                img(src="img/yandex.svg" alt="Yandex Money")
                img(src="img/gpay.svg" alt="Google Pay")
                img(src="img/mir.svg" alt="Мир")
            div.footer-socials
                a.footer-socials__item(href="" target="_blank")
                    img(src="img/insta.svg" alt="Instagram")
                a.footer-socials__item(href="" target="_blank")
                    img(src="img/tt.svg" alt="TikTok")
                a.footer-socials__item(href="" target="_blank")
                    img(src="img/vk.svg" alt="VK")
                a.footer-socials__item(href="" target="_blank")
                    img(src="img/fb.svg" alt="Facebook")
        div.footer__flex.footer__flex--bordered
            p.footer__copyright 2021©Все права защищены
            a.footer__rules(href="") Условия оплаты, получения и возврата