doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Richie's
        link(rel="stylesheet" type="text/css" href="css/style.min.css")
        link(rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico")
    body
        section.top
            div.top__logo
                img(src="img/logo.svg" alt="Richie's")
            h1.top__title
                strong Лучшая кухня
                | из лучших ингредиентов
            a.button.top__button.goTo(href="#download") Заказать

        section.gifts#download
            div.gifts__content
                div.gifts__title
                    strong Скачайте наше приложение
                    | Получайте подарки!
                div.gifts-line
                    div.gifts-line__title Ваш первый подарок
                    div.gifts-line__flex
                        div.gifts-line__gift
                            img(src="img/gift.png" alt="")
                        div.gifts-line__number 200
                        p.gifts-line__text Баллов <br />на счет
                div.app-buttons.gifts__buttons
                    a.app-button.app-button--ios(href="")
                        div.app-button__content
                            span Скачать
                            img(src="img/app-store-name.svg" alt="App Store")
                    a.app-button.app-button--android(href="")
                        div.app-button__content
                            span Скачать
                            img(src="img/google-play-name.svg" alt="Google Play")
            div.gifts__image
                img(src="img/gifts-app1.png" alt="")
                img(src="img/gifts-app2.png" alt="")

        section.menu
            div.menu__content
                div.menu__title Что есть в меню
                p.menu__text Пицца от Ричарда завоевала немалое количество клиентов с 2016 года в Павшинской Пойме. Хрустящее тесто и большое количество начинки делают его пиццу запоминающейся надолго.
                a.button.menu__button.goTo(href="#download") Заказать
            div.menu__items
                div.menu-item
                    div.menu-item__content.menu-item__content--blue
                        img(src="img/menu1.png" alt="")
                        div.menu-item__video
                            video(src="img/video.mp4")
                div.menu-item
                    div.menu-item__content.menu-item__content--violet
                        img(src="img/menu2.png" alt="")
                        div.menu-item__video
                            video(src="img/video.mp4")
                div.menu-item
                    div.menu-item__content.menu-item__content--yellow
                        img(src="img/menu3.png" alt="")
                        div.menu-item__video
                            video(src="img/video.mp4")
                div.menu-item
                    div.menu-item__content.menu-item__content--blue
                        img(src="img/menu4.png" alt="")
                        div.menu-item__video
                            video(src="img/video.mp4")
                div.menu-item
                    div.menu-item__content.menu-item__content--violet
                        img(src="img/menu5.png" alt="")
                        div.menu-item__video
                            video(src="img/video.mp4")
                div.menu-item
                    div.menu-item__content.menu-item__content--yellow
                        img(src="img/menu6.png" alt="")
                        div.menu-item__video
                            video(src="img/video.mp4")
                div.menu-item
                    div.menu-item__content.menu-item__content--blue
                        img(src="img/menu7.png" alt="")
                        div.menu-item__video
                            video(src="img/video.mp4")
                div.menu-item
                    div.menu-item__content.menu-item__content--violet
                        img(src="img/menu8.png" alt="")
                        div.menu-item__video
                            video(src="img/video.mp4")
                div.menu-item
                    div.menu-item__content.menu-item__content--blue
                        img(src="img/menu1.png" alt="")
                        div.menu-item__video
                            video(src="img/video.mp4")
                div.menu-item
                    div.menu-item__content.menu-item__content--violet
                        img(src="img/menu2.png" alt="")
                        div.menu-item__video
                            video(src="img/video.mp4")
                div.menu-item
                    div.menu-item__content.menu-item__content--yellow
                        img(src="img/menu3.png" alt="")
                        div.menu-item__video
                            video(src="img/video.mp4")
                div.menu-item
                    div.menu-item__content.menu-item__content--blue
                        img(src="img/menu4.png" alt="")
                        div.menu-item__video
                            video(src="img/video.mp4")

        div.map-before Бесплатная доставка по Красногорску и Митино

        section.reviews
            div.container.reviews__flex
                div.reviews__content
                    div.reviews__title Нас любят <br />нас выбирают
                    div.reviews__yandex
                        img(src="img/ya-eda.svg" alt="Яндекс.Еда")
                        div.reviews__rate
                            span 4.8
                    div.reviews__widget
                        <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/88138227189?comments"></iframe><a href="https://yandex.ru/maps/org/richie_s_pizza/88138227189/" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0">Richie's Pizza на карте Красногорска — Яндекс.Карты</a>
                    div.app-buttons.reviews__buttons
                        a.app-button.app-button--ios(href="")
                            div.app-button__content
                                span Скачать
                                img(src="img/app-store-name.svg" alt="App Store")
                        a.app-button.app-button--android(href="")
                            div.app-button__content
                                span Скачать
                                img(src="img/google-play-name.svg" alt="Google Play")

        // HEADER
        include ../components/footer.pug

        // SCRIPTS
        include ../components/scripts.pug